# 忽略articleImages中的JPG和PNG格式的图片
/Web_Fengyang_Server/static/images/articleImages/*.png
/Web_Fengyang_Server/static/images/articleImages/*.jpg
/Web_Fengyang_Server/static/images/articleImages/*.jpeg