html,
body,
#app {
  background-color: #FCFAF7;
}

#app {
  position: relative;
  min-height: 100vh;
  margin-top: 100px;
  /*
  background-image: url('./src/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
}